body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f1f1f1;
}

app-header {
    background-color: #00897B;
    color: #fff;
}
paper-icon-button {
    --paper-icon-button-ink-color: white;
}
app-drawer-layout:not([narrow]) [drawer-toggle] {
    display: none;
}

paper-card {
    width:  100%;
}
main {
    padding: 20px;
}